<%= render 'flash_messages'%>
<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <h1>Posts</h1>
      <% @posts.each do |post|%>
      <div class="card">
        <div class="card-body">
          <h1>
            <%= link_to post.title, post_path(post.id), class:"card-title" %>
          </h1>
          <h6 class="card-subtitle mb-2 text-muted">Creado por <%= post.user.email %> <%= time_ago_in_words(post.created_at) %></h6>
          <p class="card-text"><%= post.body %></p>
          <% if post.user = current_user %>
          <%= link_to '<i class="fas fa-edit"></i> Editar'.html_safe, edit_post_path(post.id) %> | <%= link_to '<i class="fas fa-trash-alt"></i> Eliminar'.html_safe %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
